
<div id="filters">
    <a href="/listings/filter?q=Tranding" class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Tranding</p>
    </a> 
    <a href="/listings/filter?q=Rooms" class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </a>
    <a href="/listings/filter?q=Iconic+Cities" class="filter"> 
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </a>
    <a href="/listings/filter?q=Mountains" class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
    </a>
    <a href="/listings/filter?q=Castles" class="filter">
        <div><i class="fa-brands fa-fort-awesome-alt"></i></div>
        <p>Castles</p>
    </a>
    <a href="/listings/filter?q=Amazing+Pools" class="filter">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </a>
    <a href="/listings/filter?q=Camping" class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </a>
    <a href="/listings/filter?q=Farms" class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </a>
    <a href="/listings/filter?q=Arctic" class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
    </a>
    <a href="/listings/filter?q=Boats" class="filter">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Boats</p>
    </a>
    <a href="/listings/filter?q=Others" class="filter">
        <div><i class="fa-solid fa-earth-americas"></i></div>
        <p>Others</p>
    </a>
    
    <div class="tax-toggle">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after texes</label>
        </div>
      </div>
</div>
